<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Clientes</title>
</head>
<body>
    <table>
    	<thead>
        	<tr>
            	<td><b> ID</b></td>
            	<td><b>NOME</b> </td>
            	<td><b>CPF</b> </td>
            	<td> </td>
            	<td> </td>
        	</tr>
    	</thead>
    	<tbody>
        	<tr th:each="cli : ${lista}">
            	<td th:text="${cli.id}"></td>
            	<td th:text="${cli.nome}"></td>
            	<td th:text="${cli.cpf}"></td>
            	
       		</tr>
     	</tbody>
    </table>
</body>
</html>